
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  font-size: larger;
  height: 100vh;
}

#scoreplayer {
  width: 98%;
}

button,
input {
  font-family: cursive;
  font-size: larger;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  width: 100%;
}

.constructor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 2em;
}

.stylescores {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: row;
}

.stylelist {
  text-decoration: none;
}

.scorelist {
  list-style: none;
  padding: 0;
}

.Recentscores {
  width: 100%;
}

.listscores:nth-child(even) { background: #ccc; }
.listscores:nth-child(odd) { background: #fff; }

@media screen and (min-width: 768px) {
  .constructor {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }
}
